<section class="section-lead">
	<div class="container full-height-container">
		<div class="valign">
			<div class="vobject">
				<div class="logo">
					<img src="{{ site.data.section-lead.gorillaurl | prepend: site.baseurl }}" class="animated fadeIn lapse-three gorilla" />
			      	<div class="brand hidden-xs">
			      		<div class="animated fadeInLeft lapse-five big">BIG</div><!--
			      		--><div class="animated fadeInRight lapse-six monkeys">MONKEYS</div>
			      	</div>
              <div class="brand visible-xs">
                <div class="animated bounceIn lapse-six big">BIG</div><!--
                --><div class="animated fadeIn lapse-three monkeys">MONKEYS</div>
              </div>
				</div>
			</div>
		</div>
	</div>
</section>
