<section class="section-whoweare">
	<div class="container text-center">
		<div class="row">
			<div class="col-xs-12">
				<div class="monkey-container">
					<img src="{{ site.data.section-whoweare.monkeyurl | prepend: site.baseurl }}" class="wow fadeIn monkey" />
				</div>
				<div class="wow fadeIn lapse-one phrases-whoweare">
          <h1>We are <span class="weare"></span></h1>    
        </div>				
        <div class="wow fadeIn lapse-two weare-text">
          <p>{{ site.data.section-whoweare.text }}</p>
        </div>
			</div>
		</div>
	</div>
</section>
